html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: repeating-linear-gradient(90deg, rgb(165, 202, 216) 0px, rgb(165, 202, 216) 42px,rgb(1, 148, 232) 42px, rgb(1, 148, 232) 84px,rgb(71, 171, 225) 84px, rgb(71, 171, 225) 126px,rgb(48, 163, 227) 126px, rgb(48, 163, 227) 168px,rgb(24, 156, 230) 168px, rgb(24, 156, 230) 210px,rgb(142, 194, 218) 210px, rgb(142, 194, 218) 252px,rgb(118, 187, 221) 252px, rgb(118, 187, 221) 294px,rgb(95, 179, 223) 294px, rgb(95, 179, 223) 336px);
}

.controls{
  display: flex;
  flex-wrap: wrap;
}

.photobooth {
  background: white;
  max-width: 90%;
  margin: 10% auto;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 80%;
  margin: 5% 5% 0 5%;
  border-radius: 5px;
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15%;
  box-shadow: black 0px 0px 11px 0px;
  border-radius: 10px;
}

/*
  Strip!
*/

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  height: 50px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
