body {
  /*margin: 0;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: repeating-linear-gradient(90deg, rgb(177, 19, 31) 0px, rgb(177, 19, 31) 63px,rgb(189, 27, 25) 63px, rgb(189, 27, 25) 133px,rgb(227, 49, 7) 133px, rgb(227, 49, 7) 227px,rgb(202, 34, 19) 227px, rgb(202, 34, 19) 298px,rgb(164, 12, 37) 298px, rgb(164, 12, 37) 363px,rgb(214, 42, 13) 363px, rgb(214, 42, 13) 434px);
  background-size: cover;
  font-family: sans-serif;
}
h2{
  width: 100%;
  text-align: center;
  color: white;
}
.wrapper {
  width: 850px;
  display: flex;margin: auto;
}

video {
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
}

.speed {
  background: #efefef;
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  height: 16.3%;
}
